h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.listheading {
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.stopWordItem {
  margin-right: 75px;
  &:hover {
    color: blue;
  }
}

.section {
  padding: 50px;
}
.substituteList {
  margin-bottom: 25px;
  margin-top: 10px;
  padding-left: 10px;
}

.mui-divider {
  margin-bottom: 10px;
}

.mui-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  margin: 0;
  border-radius: 0;
  color: #444;
}

.hit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin: 10px;
}
.hit-highlights {
  display: none;
}
.hit-content {
  width: 80vw;
  padding: 20px;
  border: 1px solid #adb5bd;
}

.hit-input.hit-content {
  width: 200px;
  height: 40px;
  padding: 15px;
  border: 2px solid black;
  color: black;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.textarea-field {
  width: 65vw;
}

.stopWordsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stopWord {
  font-size: 16px;
  font-weight: 600;
}
