    <h2 class="listheading">Detected stop words:</h2>
<ul class="stopWordsList">
        {{#each this}}
        <li class="stopWordItem">
            <span class="stopWord">{{this.word}}</span>
<ul class="substituteList">
    <h3 class="listheading">Substitutes:</h3>
{{#each this.substitutes}}
                <li class="substituteItem"> {{this}}</li>

{{/each}}
</ul> 
        <div class="mui-divider"></div>

       </li>
        {{/each}}
</ul>
